body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
    background-color: #87CEEB;
}

 .rectangle {
    width: 250px;
    height: 150px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.circle1 {
    width: 80%;
    height: 150%;
    background-color: #87CEEB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: -10px; 
}


.circle2 {
    width: 60%;
    height: 60%;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle3 {
    width: 40%;
    height: 40%;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



