body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.rectangle1 {
    width: 270px;
    height: 100px;
    background-color: rgb(81, 9, 81);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 125px;
}
.rectangle11, .rectangle12  {
    width: 30px;
    height: 30px;
    background-color: yellow;
    margin-left: 30px;
}

